<h2> Edit Tweet </h2>

 <form method="post" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="content">Tweet:</label>
  <input type="text" name="content" id="content" value="<%= @tweet.content %>">
   <input type="submit" value="submit">

 </form>
