<p>Welcome, <%= @user.username %>! </p>


 <a href='/tweets/new'>Create a New Tweet</a>
<a href='/users/<%=@user.slug %>'>View all of your Tweets</a>

 <h2> Tweets </h2>
<% Tweet.all.each do |tweet| %>
  <p><%= tweet.content %><br>
    <a href="/tweets/<%=tweet.id%>">View Tweet</a>
  </p>
  <br>
<% end %>

 <a href='/logout'>Logout</a>
