

<div class="main">
  <div class="content">
    <h3>Please enter the relevant information so we may get you taken care of:</h3>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="Right this way, please!">
     </form>
  </div>
</div>
