

<div class="main">
  <div class="content">
    <h3>Sign in and we'll escort you to your desk:</h3>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="This way, please!">
      </form>
    <br>
    I need to <a href="/signup">register</a>.
  </div>
</div>
