
<div class="main">
  <div class="content">
    <h2>How may we help you today?</h2>

     <h3> Please <a href="/login">sign in</a> to view your desk or <a href="/signup">register</a> to reserve one.</h3>
  </div>
</div>
