<!doctype html>
<html>
  <head>
    <title>Author's Sketchbook</title>
  </head>
  <body>

    <div class="container">
      <h1>Author's Sketchbook</h1>
      <%=yield%>
    </div>

  </body>
</html>
